[Unit]
Description=backup

[Service]
Type=oneshot
ExecStart=/bin/tar -czf /home/alex/backups/containers-$(date --iso-8601).tar.gz /home/alex/unix-project/containers
WorkingDirectory=/home/alex/unix-project
