[Unit]
Description=Run a post-install script on first boot
After=network-online.target
Wants=network-online.target
[Service]
ExecStart=/root/post-install.sh
ExecStartPost=/bin/systemctl disable post-install.service
[Install]
WantedBy=multi-user.target
